body{
    margin-top: 25vh;
    padding:5px;
}

.footer{
    font-size:small;
    border-top: gray 1px dashed;
    position:absolute;
    bottom:30px;
    padding-top: 5px;
}

.content{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.right{
    margin:auto;
}