body{
    background-color:#04471CE5;
    color:floralwhite;
    font-family:sans-serif;
    font-size:large;
    margin:0px;
}

img{
    margin:5px;
}

a {
    color:#16DB65;
}

a:hover{
    color:white;
}

.navbar{
    background-color:#058C42;
}

/* used to make the navbar more spaced out */
li{
    margin: 10px;
}



.jumbotron{
    background-color:#058C42;
}


.footer{
    font-size:small;
    padding: 7px;
    font-family:monospace;
    color: black;
    background-color:white;
}

#uppercase-font{
    font-family:copperplate;
}
