body{
    color:red;
}

img{
    width: 500px;
}

body div {
    margin: 10px;
}

.main{
    display:flex;
    flex-direction:column;
}

.content{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}



.footer{
    border-top: gray 1px dashed;
}